.ICRAR_Venv/
config
2_DPIRD_dup/
2_DPIRD/
1_ECMWF/
*dataset*
*.tar.gz
*.vscode
*.nc
.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode/
loading_module_custom.egg-info/
.env
rain/
archv/
temp*
**/app_config.yaml